body {
  text-align: center;
  background: black;
  margin: 0;
  font-family: 'Allan', cursive;
  letter-spacing: 1px;
}
body .landing {
  height: 950px;
  position: relative;
}
body .landing img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -10%;
  left: 0;
  z-index: 1;
}
body .landing h1 {
  color: white;
  font-size: 7vw;
  top: 50%;
  left: 0;
  right: 0;
  font-weight: 700;
  position: absolute;
  z-index: 2;
  display: none;
}
body .landing h3 {
  color: white;
  font-size: 3vw;
  top: 70%;
  left: 0;
  right: 0;
  font-weight: 400;
  position: absolute;
  z-index: 2;
}
body .landing span {
  color: #c5b358;
  margin-left: 5px;
  position: absolute;
  z-index: 2;
}
body .landing a {
  color: #c5b358;
  font-size: 40px;
  left: 10%;
  bottom: 15%;
  width: fit-content;
  font-weight: 700;
  position: absolute;
  text-decoration: none;
  z-index: 2;
}
body .landing img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
nav.navbar {
  color: #c5b358;
  width: 100vw;
  font-size: 1.5vw;
}
nav.navbar a.logo {
  float: left;
  margin-left: 5vw;
  text-decoration: none;
  color: #c5b358;
  cursor: pointer !important;
}
nav.navbar a.logo img {
  width: 50px;
  margin-bottom: -10px;
  margin-top: -10px;
}
nav.navbar div.pagenavs {
  float: right;
}
nav.navbar div.pagenavs a {
  margin-right: 4vw;
  text-decoration: none;
  color: #c5b358;
  padding-bottom: 12.5px;
  cursor: pointer;
}
nav.navbar div.pagenavs a:hover {
  border-bottom: 1.5px solid #c5b358;
}
nav.navbar div.pagenavs a.Resume-download {
  border: 1px solid #c5b358;
  border-radius: 5px;
  color: #c5b358;
  padding: 5px;
  cursor: pointer;
}
nav.navbar div.pagenavs a.Resume-download:hover {
  color: white;
}
nav.inlanding {
  background-color: transparent;
  top: 50px;
  z-index: 999;
  position: fixed;
  padding: 0;
}
nav.left-landing {
  background-color: black;
  position: fixed;
  top: 0px;
  padding: 15px 0px;
}
.about {
  padding-bottom: 5vw;
  background: linear-gradient(45deg, #f22b5f, #b12f2f);
}
.about h2 {
  font-size: 2.8vw;
  color: white;
  padding-top: 7vw;
}
.about div.origin-card {
  background-color: white;
  padding: 1vw;
  border: 1px solid white;
  margin: 10vw 10vw 25vw;
  box-shadow: -1px 5px 39px 2px rgba(0, 0, 0, 0.5);
}
.about div.origin-card p {
  color: black;
  font-size: 2vw;
}
div.portfolio {
  background-color: white;
  margin-top: -5vw;
  padding-bottom: 5vw;
}
div.portfolio h2 {
  color: black;
  font-size: 2.8vw;
  padding: 10vw 20vw 2vw;
}
div.portfolio a.portfolio-link {
  text-decoration: none;
  height: 30vw;
  width: 100%;
  background: transparent;
}
div.portfolio div.portfolio-item {
  display: flex;
  width: 60vw;
  height: 400px;
  margin: 5vw 20vw 5vw;
  border-radius: 10px;
}
div.portfolio div.portfolio-item:hover {
  box-shadow: 2px 3px 39px 2px rgba(0, 0, 0, 0.5);
}
div.portfolio div.portfolio-item div.portfolio-description {
  width: 35%;
  padding: 10px;
  color: black;
  border-radius: 10px 0px 0px 10px;
}
div.portfolio div.portfolio-item div.portfolio-description h3.portfolio-header {
  font-size: 35px;
  margin-bottom: -5px;
}
div.portfolio div.portfolio-item div.portfolio-description hr.portfolio-header-line {
  border: none;
  height: 0.3vw;
  background-color: white;
}
div.portfolio div.portfolio-item div.portfolio-description p {
  font-size: 25px;
}
div.portfolio div.portfolio-item div.portfolio-screenshot {
  width: 65%;
}
div.portfolio div.portfolio-item div.portfolio-screenshot img {
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
}
div.portfolio div.portfolio-item-inverse {
  display: flex;
  width: 60vw;
  height: 400px;
  margin: 5vw 20vw 5vw;
  border-radius: 10px;
}
div.portfolio div.portfolio-item-inverse:hover {
  box-shadow: 2px 3px 39px 2px rgba(0, 0, 0, 0.5);
}
div.portfolio div.portfolio-item-inverse div.portfolio-description {
  width: 35%;
  padding: 10px;
  color: black;
  border-radius: 0px 10px 10px 0px;
}
div.portfolio div.portfolio-item-inverse div.portfolio-description h3.portfolio-header {
  font-size: 2.5vw;
  margin-bottom: -5px;
}
div.portfolio div.portfolio-item-inverse div.portfolio-description hr.portfolio-header-line {
  border: none;
  height: 0.3vw;
  background-color: white;
}
div.portfolio div.portfolio-item-inverse div.portfolio-description p {
  font-size: 2vw;
}
div.portfolio div.portfolio-item-inverse div.portfolio-screenshot {
  width: 65%;
}
div.portfolio div.portfolio-item-inverse div.portfolio-screenshot img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}
div.portfolio .Mach-1 {
  background: #c5b358;
}
div.portfolio .Mach-1 hr.portfolio-header-line {
  width: 10vw;
}
div.portfolio .Mach-2 {
  background: #c5b358;
}
div.portfolio .Mach-2 hr.portfolio-header-line {
  width: 10vw;
}
div.portfolio .Mach-3 {
  background: #c5b358;
}
div.portfolio .Mach-3 hr.portfolio-header-line {
  width: 10vw;
}
div.portfolio .Mach-4 {
  background: #c5b358;
}
div.portfolio .Mach-4 hr.portfolio-header-line {
  width: 10vw;
}
div.certifications {
  background-color: #f0f8ff;
  margin-top: -5vw;
  padding-bottom: 7vw;
}
div.certifications h3 {
  font-size: 2.8vw;
  padding-top: 7vw;
}
div.certifications div.certification-item {
  padding-top: 80px;
  border: 0.6vw black solid;
  background: transparent;
  width: 50vw;
  height: 20vw;
  margin: 8vw 25vw;
}
div.certifications div.certification-item p.certificate-name {
  background: #f0f8ff;
  color: black;
  margin: -100px 8vw -60px;
  font-size: 2.5vw;
}
div.certifications div.certification-item img {
  width: 30vw;
  height: 15vw;
  margin-top: 8vw;
}
div.contact {
  background-color: black;
  margin-top: -5vw;
  padding-bottom: 30vw;
  color: white;
}
div.contact .info {
  float: left;
  margin-left: 15vw;
  font-size: 2vw;
  margin-top: -1.8vw;
}
div.contact h3 {
  font-size: 2.8vw;
  padding-top: 7vw;
}
div.contact div.link-section {
  margin-top: 40px;
}
div.contact a.page-link {
  padding: 30px 30px;
  color: white;
}
div.contact a.linkedin {
  background: #007bb5;
}
div.contact a.fcc {
  background: green;
}
div.contact a.github {
  background: black;
}
div.contact a.facebook {
  background: #4267b2;
}
div.contact .form {
  float: right;
  color: white;
  margin-right: 12vw;
  font-size: 2vw;
}
div.contact .form label {
  font-weight: bold;
}
div.contact .form input.form-input {
  border: none;
  border-bottom: 0.5vw solid white;
  background-color: transparent;
  width: 20vw;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-family: 'Allan', cursive;
  font-size: 2vw;
  outline: none;
}
div.contact .form p.msg-label {
  margin-right: 23vw;
  margin-bottom: -2.9vw;
  font-weight: bold;
}
div.contact .form textarea.form-text-area {
  border: none;
  border: 0.5vw solid white;
  margin-right: -6vw;
  background-color: transparent;
  height: 6vw;
  width: 19vw;
  color: white;
  font-family: 'Allan', cursive;
  font-size: 2vw;
}
div.contact .form .submit-btn {
  padding: 0.4vw 7.7vw 0.4vw 7.7vw;
  border: 1px solid transparent;
  text-align: center;
  margin: 2vw 0px 0px 6vw;
  color: black;
  font-family: 'Allan', cursive;
  font-size: 2vw;
  background: #c5b358;
  cursor: pointer;
}
div.contact .form .submit-btn:hover {
  color: white;
}
@media screen and (max-width: 1000px) {
  nav.navbar {
    font-size: 2.5vw;
  }
  body .landing {
    height: 900px;
  }
  body .landing h1 {
    font-size: 10vw;
    top: 60%;
  }
  body .landing h3 {
    font-size: 6vw;
    top: 70%;
  }
}
@media screen and (max-width: 800px) {
  nav.navbar {
    font-size: 3vw;
  }
  div.portfolio div.portfolio-item,
  div.portfolio div.portfolio-item-inverse {
    height: min-content;
  }
  div.certifications div.certification-item img {
    margin-top: 12vw;
  }
  div.certifications div.certification-item p.certificate-name {
    margin: -90px 8vw -60px;
  }
  div.contact h3 {
    padding-top: 12vw;
  }
  div.portfolio h2 {
    padding-top: 12vw;
  }
  .about h2 {
    padding-top: 12vw;
    font-size: 5vw;
  }
  .about div.origin-card p {
    font-size: 3.5vw;
  }
  div.portfolio h2 {
    font-size: 5vw;
  }
  div.certifications h3 {
    font-size: 5vw;
  }
  div.contact h3 {
    font-size: 5vw;
  }
  div.contact {
    padding-bottom: 45vw;
  }
  div.contact .info {
    float: left;
    margin-left: 0;
    font-size: 4vw;
    margin-top: -1.8vw;
    width: 100%;
  }
  div.contact .form {
    margin-right: 24%;
    margin-top: 40px;
    font-size: 4vw;
  }
  div.contact .form input.form-input {
    border: none;
    border-bottom: 0.5vw solid white;
    background-color: transparent;
    width: 35vw;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: 'Allan', cursive;
    font-size: 4vw;
    outline: none;
    padding: 1px;
  }
  div.contact .form p.msg-label {
    margin-right: 40vw;
    margin-bottom: -2.9vw;
    font-weight: bold;
  }
  div.contact .form textarea.form-text-area {
    border: none;
    border: 0.5vw solid white;
    margin-right: -13vw;
    margin-top: -2vw;
    background-color: transparent;
    height: 13vw;
    width: 35vw;
    color: white;
    font-family: 'Allan', cursive;
    font-size: 2vw;
  }
  div.contact .form .submit-btn {
    padding: 0.4vw 15vw 0.4vw 15vw;
    border: 1px solid transparent;
    text-align: center;
    margin: 2vw 0px 6vw;
    color: black;
    position: relative;
    left: 6.5vw;
    font-family: 'Allan', cursive;
    font-size: 4vw;
    background: #c5b358;
    cursor: pointer;
  }
}
@media screen and (max-width: 650px) {
  nav.navbar {
    font-size: 4vw;
  }
  .about div.origin-card {
    padding: 3vw;
  }
  div.portfolio div.portfolio-item,
  div.portfolio div.portfolio-item-inverse {
    width: 90vw;
    margin: 50px 5vw;
    padding-bottom: 0;
  }
  div.portfolio div.portfolio-item div.portfolio-description p,
  div.portfolio div.portfolio-item-inverse div.portfolio-description p {
    font-size: 14px;
  }
  div.portfolio div.portfolio-item div.portfolio-description h3.portfolio-header,
  div.portfolio div.portfolio-item-inverse div.portfolio-description h3.portfolio-header {
    font-size: 5vw;
  }
  div.portfolio div.portfolio-item div.portfolio-screenshot,
  div.portfolio div.portfolio-item-inverse div.portfolio-screenshot {
    max-height: 250px;
    min-height: 250px;
  }
}
@media screen and (max-width: 500px) {
  body .landing {
    height: 700px;
  }
  div.certifications div.certification-item img {
    margin-top: 22vw;
  }
  div.certifications div.certification-item {
    height: 10vw;
  }
}
